/*body{
font-family:arial,helvetica,sans-serif;
font-size:10pt;
background:#ffd145 url(/image/fade.png) top center repeat-x;
color:#450000;
padding-left:5px;
padding-right:5px;
margin-right:0;
margin-left:0;
margin-top:5px;
}

*/
body {
	font-family:sans-serif;
	font-size:10pt;
	background:url(magali.png) fixed ;
	background-repeat: no-repeat;
	background-position: right top;
}

html {
	background-color: #ffd145;
	background-image:url(melancia.png);
	background-position: center top;
	background-repeat:repeat;
}

td{
	font-size:10pt;
	padding:0;
	margin:0;
}

td.reply{
	padding:2px;
	-moz-border-radius: 5px;
}

blockquote{
	font-size:10pt;
}

.doubledash{
	color:#450000;
}

.inputtext{
	margin:0;
	margin-right:2px;
	padding:1px 4px;
	border:1px solid #aaa;
	outline:none;
	font-family:sans-serif;
	font-size:10pt;
}

input.inputtext{
	height:1.75em;
}

td>.inputtext{
	height:auto;
	padding-top:2px;
	padding-bottom:3px;
}

.inputtext:focus{
	border:1px solid #bb5555;
}

.logo img{
	border:1px solid #450000;
}

.logo b span{
	font-family:tahoma;
}

.logo span{
	font-size:28px;
	letter-spacing:-2px;
}

hr{
	border:none;
	border-top:1px solid #771111;
	height:0;
}

.postblock{
	border:1px solid #450000;
	font-size:10pt;
	padding:0 5px;
	line-height:20px;
	-moz-border-radius: 5px;
}

.rules{
	font-size:10pt;
}

.rules a{
	text-decoration:none;
}

form a img{
	margin-top:3px;
}

iframe,.rotating{
	background:#fff697;
	border-right:1px solid #e5d959;
	border-bottom:1px solid #e5d959;
}

.pages{
	border:none;
	background:#fff697;
	-moz-border-radius: 5px;
}

.pages td{
	border:none;
	padding:1px 5px;
}

.pages td{
	color:#450000;
}

.pages td b{
	color:#450000;
}

.deletebuttons{
	text-align:right;
}

.deletebuttons br{
	display:none;
}

a,a:visited{
	color:#00E;
}

a:hover{
	color:#990000;
}

a.quotelink{
	color:#000080;
}

.logo{
	clear:both;
	text-align:center;
	font-size:24pt;
	color:#450000;
	width:100%;
}

form{
	margin-top:0;
}

.rules{
	width:468px;
	font-size:10px;
}

.rules>li{
	list-style:none;
}

.rules>li:before{
	content:"\2022 \20";
}

.postblock{
	background:#bb5555;
	color:#450000;
	font-weight:800;
}

.footer{
	text-align:center;
	font-size:12px;
}

.unkfunc{
	color:#789922;
}

.filesize{
	text-decoration:none;
}

td .filesize{
	display:inline;
	background:none;
}

.filesize span,span.postername,span.filetitle,span.commentpostername{
	unicode-bidi:embed;
}

.filetitle,.replytitle{
	background:inherit;
	color:#CC1105;
	font-weight:800;
}

.postername,.commentpostername{
	background:inherit;
	color:#800000;
	font-weight:800;
}

.postertrip{
	background:inherit;
	color:#228854;
}

.oldpost{
	background:inherit;
	color:#f00000;
	font-weight:800;
}

.omittedposts,.abbr{
	color:#707070;
}

.reply{
	background-color: #fff697;
	color:#450000;
}

.doubledash{
	vertical-align:top;
	clear:both;
	float:left;
}

a.quotejs:active,a.quotejs:link,a.quotejs:visited{
	color:#450000;
	text-decoration:none;
}

a.quotejs:hover{
	color:#990000;
}

.tn_thread{
	width:200px;
	height:100px;
	margin:0 20px 20px 20px;
	float:left;
	background:#eed;
	border:#bb5555 1px solid;
	text-align:center;
}

.tn_reply{
	width:100px;
	height:100px;
	margin:0 20px 20px 20px;
	float:left;
	background:#eed;
	border:#bb5555 1px solid;
	text-align:center;
}

.adHeadline{
	font:bold 10pt serif;
	text-decoration:underline;
	color:#00e;
}

.adText{
	font:normal 10pt serif;
	text-decoration:none;
	color:#450000;
}

#ad{
	width:120px;
	margin:0;
	padding:0;
	position:absolute;
	right:150px;
	border:1px solid #bb5555;
	font-family:sans-serif;
	font-size:11px;
}

#ad div{
	margin:0;
	padding:.4em;
}

#ad div.ad-title{
	padding:0;
	background:#bb5555;
	color:#450000;
	font-size:11px;
}

#ad div.ad-title a{
	font-family:sans-serif;
	color:#450000;
}

#ad div.ad-text a{
	font-family:sans-serif;
}

.bottomAdTitle{
	font-family:sans-serif;
	background:#bb5555;
	color:#450000;
}

#bottomAd{
	height:52px;
	font-size:11px;
}

#bottomAdOuter{
	width:600px;
	border:1px solid #bb5555;
	font-size:11px;
}

.spoiler a.quotelink,.spoiler .unkfunc{
	color:inherit;
}

.exif{
	display:none;
	font-family:sans-serif;
	font-size:xx-small;
}

.exif td{
	font-family:sans-serif;
	font-size:xx-small;
}

.exif td b{
	font-weight:800;
	text-decoration:underline;
	font-size:x-small;
}

#header{
	position:absolute;
	top:2px;
	left:5px;
	right:5px;
}

* html #header{
	width:100%;
}

#navtop,#navbot{
	left:0;
	float:left;
}

#navtopr,#navbotr{
	right:0;
	display:block;
	float:right;
	text-align:right;
}

#header,#navbot,#navbotr{
	font-size:9pt;
	color:#450000;
}

#header a,#navbot a,#navbotr a,.pages td a{
	font-weight:normal;
	padding:1px;
	text-decoration:none;
	color:#450000;
}

#header a:hover,#navbot a:hover,#navbotr a:hover,.pages td a:hover{
	color:#990000;
}

.pages td a{
	color:#00e;
}

td.deletebuttons input.checkbox{
	margin:1px 2px 1px 2px;
}

div.logo img{
	margin:5px 0 5px 0;
}

.fstitle{
	float:left;
	width:25px;
}

.footer{
	text-align:center;
	font-size:10px;
}

.navbar {
	background: #transparent!important;
	width: 100% !important;
	color: #450000 !important;
	padding: .4em !important;
	top: 0;
	z-index: 1;
	font-size: 10pt;
}

.navbar a{
	color:#450000;
	text-decoration: none;

}

.navbar a:hover{
	color:#990000;
	text-decoration: none;
}

.adminbar {
	text-align:right;
	clear:both;
	float:right;
	padding: 2px;
	padding-left: 5px;
	margin-top: 3px;
	color: #450000
	margin-bottom: 10px;
	padding-right: 5px;
	font-size: 10pt;
}

.adminbar a{
	color:#450000;
	text-decoration: none;	
}

.adminbar a:hover{
	color:#990000;
	text-decoration: none;
}

.replymode {
        background:#450000;
        text-align:center;
        padding:2px;
        color:#FFFFFF;
        width:100%;
}

#watchedthreadsdraghandle{
	border:0px;
	font-size:10pt;
	padding:0px;
	line-height:20px;
}
#watchedthreads {
	background-color:#fff697; !important;
	border:1px solid #000000;
	font-size:10pt;
	padding:0px;
	line-height:20px;
}

.reflinkpreview {

	background-color: #ffd145;

}


.highlight {
	background:#fff697;
	color:#450000;
	border: 2px dashed #bb5555;
}