html, body {
background:#000000;
color:#909090;
}
* {
font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
font-size: 10pt;
}
input, textarea {
background-color: #101010;
color: #ffffff;
border: 1px solid #202020;
}
a {
background:inherit;
color:white;
text-decoration: none;
cursor: pointer;
}
a:visited {
background:inherit;
color:white;
}
a:hover {
color: #A0A0A0;
background:inherit;
text-decoration:underline;
}
a.quotelink {
background:inherit;
color:#ffffff;
}
.logo {
clear:both;
text-align:center;
background:inherit;
font-size:24pt;
color: #ffffff;
width:100%;
font-weight: bold;
}
.postarea {
background:inherit;
}
.postblock {
background: #202020;
border: 1px solid #303030;
color: #ffffff;
font-weight: bold;
padding: 2px 5px 2px 5px;
}
.footer {
text-align:center;
font-size:12px;
}
.unkfunc {
background:inherit;
color:#839922;
}
.filesize {
text-decoration:none;
}
.filetitle {
background:inherit;
color:#606060;
font-weight:800;
}
.postername {
background:inherit;
font-size:11pt;
color:#505050;
font-weight:bold;
}
.postertrip {
background:inherit;
color:#808080;
}
.oldpost {
background:inherit;
color:#404040;
font-weight:800;
}
.omittedposts {
background:inherit;
color:#707070;
}
.reply {
background:#202020;
color:#A0A0A0;
border:1px solid #101010;
}
.replyhl {
background:#000000;
color:#707070;
}
.doubledash {
vertical-align:top;
clear:both;
float:left;
}
.replytitle {
background:inherit;
font-size:18px;
color:#000000;
font-weight:800;
}
.commentpostername {
background:inherit;
font-size:11pt;
color:#505050;
font-weight: bold;
}
a.quotejs {
color:#909090;
text-decoration: none;
}
a.quotejs:hover {
font-weight:bold;
}
.adminbar {
text-align: left;
}
#watchedthreads {
background-color: #000000 !important;
border: 1px solid #303030 !important;
	font-size:10pt;
	padding:0px;
	line-height:20px;
}

#watchedthreadsdraghandle{
        color: #000000;
	border: 0px;
	padding:0px;
	line-height:20px;
}
.thumb { cursor: pointer; }
 .reflinkpreview{ background-color: #000000 }
 
 a.recentP:link, a.recentP:visited, a.recentP:active { 
	font-size: 115%;
	font-weight: 900;
	color:#ff0000;
}
