/*body{
font-family:arial,helvetica,sans-serif;
font-size:10pt;
background:#FFE url(/image/fade.png) top center repeat-x;
color:#800000;
padding-left:5px;
padding-right:5px;
margin-right:0;
margin-left:0;
margin-top:5px;
}

*/
body{
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
	background:#1d1f21;
	color:#c5c8c6;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
}

.reflinkpreview{
	background:#282a2e;
	border:1px solid #333!important;
}

td{
	font-size:10pt;
	padding:0;
	margin:0;
}

td.reply{
	background-color: #282A2E;
    border: 1px solid #282A2E;
    display: table;
    padding: 2px;
}

.doubledash{
	color: #C5C8C6;
    float: left;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 2px;
}

.inputtext{
	margin:0;
	margin-right:2px;
	padding:1px 4px;
	border:1px solid #aaa;
	outline:none;
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
}

input.inputtext{
	height:1.75em;
}

td>.inputtext{
	height:auto;
	padding-top:2px;
	padding-bottom:3px;
}

.inputtext:focus{
	border:1px solid #ea8;
}

.logo img{
	border: 1px solid black;
    margin: 5px 0px 5px 0px;
    width: 300px;
    height: 100px;
    max-width: 100%;
}

.logo b span{
	font-family:tahoma;
}

.logo span{
	font-size:28px;
	letter-spacing:-2px;
}

hr{
	border: none;
    border-top: 1px solid #282A2E;
    height: 0;
}

.postblock{
	border:1px solid #800;
	font-size:10pt;
	padding:0 5px;
	line-height:20px;
}

blockquote{
	font-size:10pt;
}

.rules{
	font-size:10pt;
}

.rules a{
	text-decoration:none;
}

form a img{
	margin-top:3px;
}

iframe,.rotating{
	background:#F0E0D6;
	border-right:1px solid #D9BFB7;
	border-bottom:1px solid #D9BFB7;
}

.pages{
	font-size:13px!important;
	margin:0;
	background:#282a2e;
	border:1px solid #111;
    color: #C5C8C6;
}

.pages td{
	border:none;
	padding:1px 5px;
}

.pages td{
	color: #C5C8C6;
}

.pages td b{
	color:#800;
}

.deletebuttons{
	text-align:right;
}

.deletebuttons br{
	display:none;
}

a,a:visited{
	color: #81A2BE!important;
}

a:hover{
    color:#5F89AC!important;
}

a.quotelink{
	color:#000080;
}

.logo{
	clear:both;
	text-align:center;
	width:100%;
	font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0px;
}

form{
	margin-top:0;
}

.rules{
	width:468px;
	font-size:10px;
}

.rules>li{
	list-style:none;
}

.rules>li:before{
	content:"\2022 \20";
}

.postblock{
	background:#282A2E;
	color:#C5C8C6;
	font-weight: bold;
	border: 1px solid #111;
	padding: 0 5px;
	font-size: 10pt;
}

.footer{
	text-align:center;
	font-size:12px;
}

.unkfunc{
	color:#B5BD68;
}

.filesize{
	text-decoration:none;
}

td .filesize{
	display:inline;
	background:none;
}

.filesize span,span.postername,span.filetitle,span.commentpostername{
	unicode-bidi:embed;
}

.filetitle,.replytitle{
	background:inherit;
	color:#CC1105;
	font-weight:600;
}

.postername,.commentpostername{
	color: #C5C8C6;
	font-weight: bold;
}

.postertrip{
	color:#c5c8c6;
	font-weight:normal!important;
}

.oldpost{
	background:inherit;
	color:#f00000;
	font-weight:600;
}

.omittedposts,.abbr{
	color:#707070;
}

.reply{
	background: #282A2E;
    border: 1px solid #282A2E;
    display: table;
    padding: 2px;
}

.highlight{
	background: #1D1D21!important;
    border: 1px solid #111!important;
    padding: 2px;
}

.doubledash{
	vertical-align:top;
	clear:both;
	float:left;
}

a.quotejs:active,a.quotejs:link,a.quotejs:visited{
	color:#800000;
	text-decoration:none;
}

a.quotejs:hover{
	color:#d00;
}

.tn_thread{
	width:200px;
	height:100px;
	margin:0 20px 20px 20px;
	float:left;
	background:#eed;
	border:#ea8 1px solid;
	text-align:center;
}

.tn_reply{
	width:100px;
	height:100px;
	margin:0 20px 20px 20px;
	float:left;
	background:#eed;
	border:#ea8 1px solid;
	text-align:center;
}

.adHeadline{
	font:bold 10pt serif;
	text-decoration:underline;
	color:#00e;
}

.adText{
	font:normal 10pt serif;
	text-decoration:none;
	color:#800;
}

#ad{
	width:120px;
	margin:0;
	padding:0;
	position:absolute;
	right:150px;
	border:1px solid #EA8;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
}

#ad div{
	margin:0;
	padding:.4em;
}

#ad div.ad-title{
	padding:0;
	background:#EA8;
	color:#800000;
	font-size:11px;
}

#ad div.ad-title a{
	font-family:arial,helvetica,sans-serif;
	color:#800000;
}

#ad div.ad-text a{
	font-family:arial,helvetica,sans-serif;
}

.bottomAdTitle{
	font-family:arial,helvetica,sans-serif;
	background:#EA8;
	color:#800000;
}

#bottomAd{
	height:52px;
	font-size:11px;
}

#bottomAdOuter{
	width:600px;
	border:1px solid #EA8;
	font-size:11px;
}

.spoiler a.quotelink,.spoiler .unkfunc{
	color:inherit;
}

.exif{
	display:none;
	font-family:arial,helvetica,sans-serif;
	font-size:xx-small;
}

.exif td{
	font-family:arial,helvetica,sans-serif;
	font-size:xx-small;
}

.exif td b{
	font-weight:600;
	text-decoration:underline;
	font-size:x-small;
}

#header{
	position:absolute;
	top:2px;
	left:5px;
	right:5px;
}

* html #header{
	width:100%;
}

#navtop,#navbot{
	left:0;
	float:left;
}

#navtopr,#navbotr{
	right:0;
	display:block;
	float:right;
	text-align:right;
}

#header,#navbot,#navbotr{
	font-size:9pt;
	color:#b86;
}

#header a,#navbot a,#navbotr a,.pages td a{
	font-weight:normal;
	padding:1px;
	text-decoration:none;
	color:#800;
}

#header a:hover,#navbot a:hover,#navbotr a:hover,.pages td a:hover{
	color:#d00;
}

.pages td a{
	color:#00e;
}

td.highlight{
	border:1px solid #D99F91;
	border-left:none;
	border-top:none;
	padding:2px;
}

td.deletebuttons input.checkbox{
	margin:1px 2px 1px 2px;
}

div.logo img{
	margin:5px 0 5px 0;
}

.fstitle{
	float:left;
	width:25px;
}

.footer{
	text-align:center;
	font-size:10px;
}

.navbar {
    font-size: 9pt;
    color: #C5C8C6;
    display: block;
}

.navbar a{
	color:#880000;
	text-decoration: none;

}

.navbar a:hover{
	color:#DD0000;
	text-decoration: none;
}

.adminbar {
	text-align:right;
	clear:both;
	float:right;
	padding: 2px;
	padding-left: 5px;
	margin-top: 3px;
	color: #BB8866
	margin-bottom: 10px;
	padding-right: 5px;
	font-size: 10pt;
}

.adminbar a{
	color:#880000;
	text-decoration: none;	
}

.adminbar a:hover{
	color:#DD0000;
	text-decoration: none;
}

.replymode {
        background:#282A2E;
        text-align:center;
        padding: 1px;
        color:#C5C8C6;
        font-weight: bold;
        font-size: larger;
        margin-top: 8px;
        border: 1px solid #111;
}

#watchedthreadsdraghandle{
	border:0px;
	font-size:10pt;
	padding:0px;
	line-height:20px;
}

#watchedthreads {
	background: #282A2E!important;
	border: 1px solid #282A2E;
    display: table;
    padding: 2px;
}